.backdroup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 350ms linear,
        visibility 350ms linear;
}

.backdroup.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(2);
}

.modal {
    padding: 40px;
    min-width: 290px;
    
    background-color: var(--color-white);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 350ms linear;
    @include tablet {
        padding: 40px;
        width: 450px;
        max-height: 609px;

    }
    @include desktop {
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background-color: var(--color-white);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 350ms linear;
    }
}

.modal-close {
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: var(--color-white);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include flex;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            fill: var(--color-blue)
        }
}

.modal-title {
    @include font (700, 20px, 1.5, 0.03em);
    
    text-align: center;
    margin-bottom: 12px;
    @include desktop {
        @include font (700, 20px, 1.172,0.03em);
        text-align: center;
        margin-bottom: 12px;
    }
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
}
.input-wrap-comment {
    position: relative;
}

.modal-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 30px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--color-blue);
        }
}


.modal-label {
    margin-bottom: 4px;
    display: block;
    @include font (400, 12px, 1.172, 0.01em);
    color: rgba(117, 117, 117, 1);
}

.modal-comment {
    display: block;
    padding: 12px 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    resize: none;
}

.modal-comment::placeholder {
    @include font (400, 12px, 1.172, 0.01em);
    color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 15px;
    fill: var(--color-title);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus+ & {
            fill: var(--color-blue);
        }
}

.btn-submit {
    margin-top: 30px;
    display: inline-flex;
    padding: 10px 52px;
    border-radius: 4px;
    background-color: var(--color-blue);
    color: var(--color-white);
    @include font (700, 16px, 1.875, 0.06em);
    text-align: center;
    align-items: center;
    border: none;
}

.btn-submit-modal {
   @include flex;
}

.label-check,
.accedence-link {
    @include font (400, 12px, 1.172, 0.03em);
    @include desktop {
        @include font (400, 14px, 1.714, 0.03em);
        }
    
}

.label-check {
    color: var(--color-gray);
    @include flex;
}

.accedence-link {
    color: var(--color-blue);
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--color-blue);
            width: 100%;
            height: 1px;
        }
}
.label-check span {
    width: 16px;
    height: 15px;
    fill: #212121;
    border: 1px solid #212121;
    margin-right: 8px;
    @include flex;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-check:checked+ & {
        background-color: var(--color-blue);
        fill: var(--color-white);
        border: none;
        }
    .modal-check:focus+ & {
        background-color: var(--color-blue);
        }
}

