.our-advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.our-advantages-item {
    width: 100%;
    height: auto;
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        }
    @media screen and (min-width: 1200px) {
         width: calc((100% - 90px) / 4);
        }
}
.our-advantages-icon {
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    @include flex;
}

.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
           padding-top: 94px;
           padding-bottom: 94px;
        }
}

.our-advantages-title {
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--color-title);
    @include font (700, 14px, 1.1721, 0.03em);
    @include flex;
    @media screen and (min-width: 768px) {
            display: inline-block;
        }
}

// .our-advantages-item:last-child {
//     margin-right: 0;
// }

.our-advantages {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-gray);
    @include font (400, 14px, 1.714, 0.03em);
}